/* .gradientBorder{
    background: linear-gradient(to left, rgb(98, 0, 128), rgb(227, 62, 213));
} */

.gradientHeading {
  background: linear-gradient(to left, rgb(98, 0, 128), rgb(227, 62, 213));
  color: transparent;
  -webkit-background-clip: text;
}