.my_location {
  border: 1px solid white;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin: 10px 10px;
}

.my_location_content,
.my_location_content_field,
.my_location_content_field h3,
.my_location_content_field span {
  color: white;
  font-size: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.my_location_content_field h3 {
  background: linear-gradient(to right, rgb(164, 26, 206), rgb(227, 62, 213));
  color: transparent;
  -webkit-background-clip: text;
  font-size: 24px;
  font-weight: 700;
}

.my_location_content_field {
  padding: 10px 15px;
}
